
@model scoremaster_Presentation.ViewModel.LoginVm
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="~/css/loginstyle.css" rel="stylesheet" />

    <style>
        import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        html, body {
            display: grid;
            height: 100%;
            width: 100%;
            place-items: center;
            background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
        }

        ::selection {
            background: #1a75ff;
            color: #fff;
        }

        .wrapper {
            margin-bottom: 230px;
            overflow: hidden;
            width: 690px;
            background: #fff;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
            height: 300px;
            position: relative; /* Added for correct positioning of children */
        }

            .wrapper .title-text {
                display: flex;
                width: 200%;
            }

            .wrapper .title {
                width: 50%;
                font-size: 35px;
                font-weight: 600;
                text-align: center;
                transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
            }

            .wrapper .slide-controls {
                position: relative;
                display: flex;
                height: 50px;
                width: 100%;
                overflow: hidden;
                margin: 30px 0 10px 0;
                justify-content: space-between;
                border: 1px solid lightgrey;
                border-radius: 15px;
            }

        .slide-controls .slide {
            height: 100%;
            width: 100%;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            line-height: 48px;
            cursor: pointer;
            z-index: 1;
            transition: all 0.6s ease;
        }

        .slide-controls label.signup {
            color: #000;
        }

        .slide-controls .slider-tab {
            position: absolute;
            height: 100%;
            width: 50%;
            left: 0;
            z-index: 0;
            border-radius: 15px;
            background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
            transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
        }

      
        .wrapper .form-container {
            width: 100%;
            overflow: hidden;
        }

        .form-container .form-inner {
            display: flex;
            width: 200%;
        }

            .form-container .form-inner form {
                width: 50%;
                transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
            }

        .form-inner form .field {
            height: 50px;
            width: 100%;
            margin-top: 20px;
        }

            .form-inner form .field input {
                height: 100%;
                width: 98%;
                outline: none;
                padding-left: 15px;
                border-radius: 15px;
                border: 1px solid lightgrey;
                border-bottom-width: 2px;
                font-size: 17px;
                transition: all 0.3s ease;
            }

        form .btn {
            height: 50px;
            width: 100%;
            border-radius: 15px;
            position: relative;
            overflow: hidden;
        }

            form .btn .btn-layer {
                height: 100%;
                width: 300%;
                position: absolute;
                left: -100%;
                background: -webkit-linear-gradient(right, #003366, #004080, #0059b3, #0073e6);
                border-radius: 15px;
                transition: all 0.4s ease;
            }

            form .btn:hover .btn-layer {
                left: 0;
            }

            form .btn input[type="submit"] {
                height: 100%;
                width: 100%;
                z-index: 1;
                position: relative;
                background: none;
                border: none;
                color: #fff;
                padding-left: 0;
                border-radius: 15px;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
            }

        .forgot-password {
            position: absolute;
            bottom: 30px;
            right: 30px;
        }

            .forgot-password a {
                color: black;
                text-decoration: none;
                font-size: 20px;
            }

                .forgot-password a:hover {
                    text-decoration: underline;
                }
    </style>
</head>

<body>
    <h1 style="color:white;">SCORE-MASTER – A PRESENTATION EVALUATION SYSTEM</h1>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">Login</div>
        </div>
        <div class="form-container">
            <div class="form-inner">
                <form asp-action="LoginPage" class="login" method="post">
                    <div class="field">
                        <input type="email" asp-for="Email" value="@ViewBag.Loginemail" placeholder="Email Address" required>
                    </div>
                    <div class="field">
                        <input type="password" asp-for="Password" placeholder="Password" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Login">
                    </div>
                    <div class="forgot-password">
                        <a href="#">Forget password</a>
                    </div>
                    @if (ViewBag.errormessage != null)
                    {
                        <h1 style="color:red;font-size:24px;text-align:center;">@ViewBag.errormessage</h1>
                    }
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>
