@model scoremaster_Presentation.Models.Department
<div class="unix-login">
    <div class="container-fluid">
        <div class="row justify-content-center" style="width:auto;background-color:#343957;border:1px solid white;">
            <div class="col-lg-6" >
                <div class="login-content" >
                    <div class="login-logo">
                        <a href="index.html"><span>Department</span></a>
                    </div>
                    <div class="login-form" style="width:auto;background-color:#343957;border:1px solid white;">
                       
                        <form asp-action="AddDepartment" method="post" style="width:auto;background-color:#343957;">
                            <div class="form-group">
                                <label style="color:white;">Department</label>
                                <input type="text" asp-for="DeptName" class="form-control" required="Please fill Department" placeholder="Enter Department">
                            </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-15">Save</button>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>