@model IEnumerable<scoremaster_Presentation.Models.Group>

<div class="card card border-dark">
    <div class="card-header btn btn-primary border border-warning rounded form-select">
        Joined Event
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="example">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Supervisor</th>
                        <th scope="col">Co-Supervisor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>

                            <td>@item.Title </td>
                            <td>@item.Supervisor</td>
                            <td>@item.CoSupervisor</td>
                            <td><a class="btn btn-primary m-b-10 m-l-5" asp-controller="Group" asp-action="Memberlist" asp-route-id="@item.GroupId">View</a></td>
                        </tr>
                        
                    }
                    
                  

                </tbody>
            </table>
        </div>
    </div>
</div>






