@model IEnumerable<scoremaster_Presentation.Models.MemberData>
<div class="card card border-dark">
    <div class="card-header btn btn-primary border border-warning rounded form-select">
        Joined Event
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="example">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Student</th>
                        <th scope="col">CMS Id</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
            @foreach(var item in Model)
            {
                        <tr>

                            <th scope="row">@item.MemberName </th>
                            <td>@item.MemberCMSID</td>
                            <td><a class="btn btn-primary btn-sm-3 form-control" asp-route-Id="@item.MemberDataId" asp-controller="Marks" asp-action="MarksCreate">Add Marks</a></td>

                        </tr>
                        
                    }
                   
                    

                </tbody>
            </table>
        </div>
    </div>
</div>







